section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width{
    width: 40%;
}
.button{
    text-decoration: none;
background-color: cadetblue;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 7px;

}